h1 {
    color: rgb(39, 90, 167);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: rgb(39, 90, 167);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h3 {
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}